version: "3.4"
services:
  go-briefly-bot:
    image: ghcr.io/olegshulyakov/go-briefly-bot:latest
    container_name: go-briefly-bot
    mem_limit: 512m
    environment:
      - TELEGRAM_BOT_TOKEN=
      - YT_DLP_ADDITIONAL_OPTIONS=
      - OPENAI_BASE_URL=https://api.openai.com/v1/
      - OPENAI_API_KEY=
      - OPENAI_MODEL=gpt-4o-mini
      - VALKEY_URL=valkey://valkey:6379
      - LOG_LEVEL=INFO
    restart: unless-stopped
    depends_on:
      - valkey

  valkey:
    image: valkey/valkey:8.0
    container_name: briefly-valkey
    ports:
      - "6379:6379"
    restart: unless-stopped
