version: "3.4"
services:
  go-briefly-bot:
    image: ghcr.io/olegshulyakov/go-briefly-bot:latest
    container_name: go-briefly-bot
    mem_limit: 512m
    environment:
      - TELEGRAM_BOT_TOKEN=
      - YT_DLP_ADDITIONAL_OPTIONS=
      - OPENAI_BASE_URL=https://api.openai.com/v1/
      - OPENAI_API_KEY=
      - OPENAI_MODEL=gpt-4o-mini
      - LOG_LEVEL=INFO
    restart: unless-stopped
