# This workflow will build a Python project
# For more information see: https://docs.github.com/en/actions/tutorials/build-and-test-code/python

name: Build

on:
  push:
    branches:
      - main
      - "releases/**"
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - main
      - "releases/**"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.11"
          - "3.x"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          pip install -e ".[dev]"

      - name: Lint code with Ruff
        run: |
          ruff check --output-format=github --target-version=py311

      - name: Lint code with MyPy
        run: |
          mypy src/ tests/ --python-version 3.11

      - name: Check code formatting with Ruff
        run: |
          ruff format --diff --target-version=py311

      - name: Test with pytest
        run: |
          pytest tests/ --doctest-modules --junitxml=junit/test-results-${{ matrix.python-version }}.xml


      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results-${{ matrix.python-version }}
          path: junit/test-results-${{ matrix.python-version }}.xml
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
